db_structure:
  schema_name: career_accelerator

  table_company_types: |
    type_id SERIAL PRIMARY KEY,
    type_business TEXT UNIQUE NOT NULL

  table_companies: |
    company_id SERIAL PRIMARY KEY,
    company_name TEXT UNIQUE NOT NULL,
    company_type TEXT NOT NULL REFERENCES career_accelerator.company_types(type_business),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP

  table_applications: |
    application_id SERIAL PRIMARY KEY,
    job TEXT NOT NULL,
    education1 TEXT,
    education2 TEXT,
    education3 TEXT,
    experience1 TEXT,
    experience2 TEXT,
    experience3 TEXT,
    skills TEXT,
    interests TEXT,
    lang TEXT NOT NULL,
    status TEXT CHECK (status IN ('applied', 'interviewing', 'offered', 'rejected')) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    company_name TEXT NOT NULL REFERENCES career_accelerator.companies(company_name),
    company_type TEXT NOT NULL REFERENCES career_accelerator.company_types(type_business),
    UNIQUE (company_name, company_type),
    UNIQUE (job, lang, company_name),
    FOREIGN KEY (lang)
      REFERENCES languages(lang)
      ON UPDATE CASCADE
      ON DELETE RESTRICT


  table_cover_letters: |
    cover_id SERIAL PRIMARY KEY,
    job TEXT NOT NULL,
    lang TEXT NOT NULL,
    company_name TEXT NOT NULL,
    header TEXT,
    address TEXT,
    date DATE,
    body TEXT,
    "end" TEXT,
    sign TEXT,
    CONSTRAINT fk_cover_letters_applications
        FOREIGN KEY (job, lang, company_name)
        REFERENCES career_accelerator.applications (job, lang, company_name)
        ON UPDATE CASCADE
        ON DELETE CASCADE

  table_templates: |
    job
    lang
  table_languages: |
    lang TEXT PRIMARY KEY